<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532680615230-m00p5sjp15u367dok9o1u5qbmg2k63qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532680615230-m00p5sjp15u367dok9o1u5qbmg2k63qu</string>
	<key>API_KEY</key>
	<string>AIzaSyDg6231Cgfl2GwutdoH1K5EA_nghKUh6V0</string>
	<key>GCM_SENDER_ID</key>
	<string>532680615230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riccardocalligaro.memos</string>
	<key>PROJECT_ID</key>
	<string>memos-8f3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>memos-8f3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532680615230:ios:59fb0d649a7e3be3a9b86f</string>
</dict>
</plist>